*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/libraries
.idea/misc.xml
.idea/vcs.xml
.idea
.idea/caches
.idea/codeStyles

